{% extends '::base.html.twig' %}

{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('cpc_video_game_homepage') }}" onClick="javascript: history.go(-1);return false;"><i class="fa fa-undo"></i> Retour</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}