{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
	</div>
{% endblock %}

{% block ranking %}
	"{{ path('cpc_ranking_homepage', {id:videogame.id}) }}"
{% endblock %}

{% block game %}
	"{{ path('cpc_game_homepage', {id:videogame.id}) }}"
{% endblock %}